html, body{
    margin: 0px;
    background-color: #C3ACD0;
}

.mainsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.warning{
    display: flex;
    justify-content: center;
}

.paragraph{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 10px;
    border: 2px solid purple;
    margin: 0 0 50px 0;
    background-color: #E5E0FF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.paragraph p{
    margin: 20px;
}

.form_style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formarea{
    border: 3px solid rgb(115, 0, 255);
    padding: 10px;
    background-color: #E3DFFD;
    border-radius: 10px;
    margin: 50px 0;
}

.formarea img{
    margin: 10px 0;
}

.form_style input{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 0px solid red;
}

.form_style button{
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #AD7BE9;
    color: white;
    transition: 0.5s;
    border: 0px solid red;
}

.form_style button:hover{
    background-color: #995ce3;
    color: white;
    transition: 0.5s;
}