body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  background-color: #393053;
}

::-webkit-scrollbar {
  width: 0px;
  background: #393053;
  height: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #9e7ff5;
  border-radius: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loadingscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #393053;
}

.fetching {
  font-size: 48px;
  text-align: center;
  color: #f9f8ff;
}

table,
th,
td {
  min-width: auto;
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
  word-wrap: normal;
}

th {
  border-width: 0 0 0px 0;
  border-style: solid;
  border-color: #191825;

  background-color: #18122b;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
}

.stickyHead {
  position: sticky;
  top: 0;
}

td {
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: #191825;

  font-size: 15px;
  padding: 0 30px;
}

.additional {
  background-color: #393053;
  color: #f9f8ff;
  font-size: 15px;
}

.logo {
  min-width: none;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #191825;

  background-color: #191825;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: auto;
  height: auto;
}

.coinName {
  font-size: 15px;
  font-weight: bold;
  background-color: #393053;
  color: #f9f8ff;
}

.symbolName {
  background-color: #393053;
  font-weight: bold;
  color: #f9f8ff;
}

.prices {
  font-weight: bold;
  background-color: #393053;
  color: #baff95;
}

.Gprices {
  font-weight: bold;
  background-color: #393053;
  color: #31cf0a;
}

.Rprices {
  font-weight: bold;
  background-color: #393053;
  color: rgb(251, 4, 4);
}

.newrow {
  margin: 10px 0;
}

.marketcap{
  color: rgb(151, 255, 252);
  font-weight: bold;
}