body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loadingscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fetching {
  font-size: 48px;
  text-align: center;
}

table,
th,
td {
  width: auto;
  padding: 5px;
  text-align: center;
  border-collapse:collapse;
}

th {
  border-width: 0 0 5px 0;
  border-style: solid;
  border-color: #cab6f6;

  background-color: #3A1078;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
}

td {
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: #cab6f6;

  font-size: 15px;
  padding: 0 30px;
}

.additional {
  background-color: #f9f8ff;
  color: rgb(38, 0, 0);
  font-size: 15px;
}

.logo {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #cab6f6;

  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: auto;
  height: auto;
}

.coinName {
  font-size: 15px;
  font-weight: bold;
  background-color: #AEE2FF;
}

.symbolName {
  background-color: #B9F3E4;
  font-weight: bold;
}

.prices {
  font-weight: bold;
  background-color: #c1e1f7;
}

.Gprices {
  font-weight: bold;
  background-color: #c1fcbe;
}

.Rprices {
  font-weight: bold;
  background-color: #ff0000;
  color: white;
}

.newrow{
  margin: 10px 0;
}