<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check balance</title>
    <link rel="shortcut icon" href="https://ethereum.org/static/17d9060291d90c60006b558c4267a5fa/b47c9/wallet-cropped.webp" type="image/x-icon">
</head>

<style>
    html,
    body {
        margin: 0px;
        background-color: #B4E4FF;
        /*background: url("https://wallpapercave.com/wp/wp2322150.jpg");*/
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .mainsection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        /*background-color: rgba(0, 0, 0, 0.432);*/
    }

    .formarea{
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 10px;
    }

    .formarea p{
        text-align: center;
        margin: 10px 20px;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 64, 241);
        /*background-color: rgba(0, 0, 0, 0.451);*/
    }

    .balance input{
        padding: 20px;
        font-size: 20px;
        border-radius: 20px 0 0 20px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border: 2px solid white;
    }

    .balance button{
        padding: 20px;
        font-size: 20px;
        border-radius: 0 20px 20px 0;
        background-color: #cac8f7;
        transition: 0.5s;
        border: 2px solid white;
    }

    .balance button:hover{
        background-color: #f98282;
        transition: 0.5s;
    }

    .heading h2{
        text-align: center;
        margin: 20px 20px;
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(158, 5, 241);
    }

    .single{
        border: 2px solid rgb(224, 156, 255);
        width: 100%;
    }

    .balancetext h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: rgb(255, 92, 92);
    }

</style>

<body>
    <div class="mainsection">
        <div class="heading">
            <h2>BALANCE : <%=Balance%> ETH</h2>
        </div>
        <div class="single"></div>
        <div class="formarea">
            <form action="" class="balance" onsubmit="redirect1(); return false">
                <p>Mainnet Ethereum</p>
                <input type="text" placeholder="Enter your wallet address" name="walletAddress" id="wad1" required>
                <button>Get Balance</button>
            </form>
            <script>
                function redirect1() {
                    window.location.href = "http://localhost:4000/M-balance/" + document.getElementById("wad1").value;
                }
            </script>
        </div>
        <div class="formarea">
            <form action="" class="balance" onsubmit="redirect2(); return false">
                <p>Goerli Test Ethereum</p>
                <input type="text" placeholder="Enter your wallet address" name="walletAddress" id="wad2" required>
                <button>Get Balance</button>
            </form>
            <script>
                function redirect2() {
                    window.location.href = "http://localhost:4000/G-balance/" + document.getElementById("wad2").value;
                }
            </script>
        </div>

        <div class="formarea">
            <form action="" class="balance" onsubmit="redirect3(); return false">
                <p>Sepolia Test Ethereum</p>
                <input type="text" placeholder="Enter your wallet address" name="walletAddress" id="wad3" required>
                <button>Get Balance</button>
            </form>
            <script>
                function redirect3() {
                    window.location.href = "http://localhost:4000/S-balance/" + document.getElementById("wad3").value;
                }
            </script>
        </div>

        <div class="single"></div>

        <div class="balancetext">
            <h2>YOUR BALANCE FOR <%=Name%> IS <%=Balance%> ETH</h2>
        </div>
    </div>
</body>

</html>