<%- include('includes/head.ejs', { title: 'Dashboard' }) %>
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
  <%- include('includes/header.ejs') %>
  
  <main>
    <h1>Dashboard</h1>
  </main>

</body>

</html>